.idea/
.vs/
.vscode/
target/
Cargo.lock

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-*

[Bb]in/
[Oo]bj/

wifi.config.yaml
