.idea/
.vs/
.vscode/
target/
Cargo.lock

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-*
build/

[Bb]in/
[Oo]bj/

wifi.config.yaml
sdkconfig*
!sdkconfig.rgb_lcd_7_in_all_in_one
!sdkconfig.rgb_lcd_43_in_all_in_one
